/* colors : */

.accent-blue {

  background-color: #109CF1;
   
}

.black {

  background-color: #192A3E;
   
}

.dark-blue {

  background-color: #334D6E;
   
}

.divider {

  background-color: #EBEFF2;
   
}

.grey {

  background-color: #90A0B7;
   
}

.icon-grey {

  background-color: #C2CFE0;
   
}

.white {

  background-color: #fff;
   
}

.red {
  background-color: #F7685B;
}

.green {
  background-color: #2ED47A;
}







